CMIV_CTA.xcodeproj/xcuserdata/
CMIV_CTA.xcodeproj/project.xcworkspace/xcuserdata/
CTA_TOOLS.xcodeproj/xcuserdata/
CTA_TOOLS.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace
*.xcworkspace
*.DS_Store
Binaries/
Build/