<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2007 Center for Medical Image Science and Visualization(CMIV), Linköping University, Sweden</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>MenuTitles</key>
	<array>
		<string>Wizard For Coronary CTA</string>
		<string>VOI Cutter</string>
		<string>2D Views</string>
		<string>Polygon Measurement</string>
		<string>Tagged Volume Rendering</string>
		<string>Save Results</string>
		<string>Auto-Seeding</string>
	</array>
	<key>NSPrincipalClass</key>
	<string>CMIV_CTA_TOOLS</string>
	<key>ToolbarIcon</key>
	<string>CTAICON</string>
	<key>allowToolbarIcon</key>
	<string>YES</string>
	<key>pluginType</key>
	<string>other</string>
</dict>
</plist>
